# Next.js envs
# Public Strapi endpoint used at build-time and runtime (Cloudflare Pages)
NEXT_PUBLIC_STRAPI_URL=https://cms.example.com
# If you need authenticated fetching during build, set STRAPI_TOKEN
# STRAPI_TOKEN=
