@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

/* Chrome, Edge, and Safari */
html::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

body {
  background-image: linear-gradient(45deg, #654ea3, #da98b4);
}

svg .svg-elem-1 {
  stroke-dashoffset: 186.8000030517578px;
  stroke-dasharray: 186.8000030517578px;
  transition: stroke-dashoffset 0.3s ease 0s, fill 1.5s ease 0.8s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 373.6000061035156px;
}

svg .svg-elem-2 {
  stroke-dashoffset: 108.34558868408203px;
  stroke-dasharray: 108.34558868408203px;
  transition: stroke-dashoffset 0.3s ease 0.12s, fill 1.5s ease 0.9s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 216.69117736816406px;
}

svg .svg-elem-3 {
  stroke-dashoffset: 453.9753723144531px;
  stroke-dasharray: 453.9753723144531px;
  transition: stroke-dashoffset 0.3s ease 0.24s, fill 1.5s ease 1s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 907.9507446289062px;
}

svg .svg-elem-4 {
  stroke-dashoffset: 267.3999938964844px;
  stroke-dasharray: 267.3999938964844px;
  transition: stroke-dashoffset 0.3s ease 0.36s, fill 1.5s ease 1.1s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 534.7999877929688px;
}

svg .svg-elem-5 {
  stroke-dashoffset: 296.54351806640625px;
  stroke-dasharray: 296.54351806640625px;
  transition: stroke-dashoffset 0.3s ease 0.48s,
    fill 1.5s ease 1.2000000000000002s;
}

svg.active .svg-elem-5 {
  stroke-dashoffset: 593.0870361328125px;
}

svg .svg-elem-6 {
  stroke-dashoffset: 347.0276794433594px;
  stroke-dasharray: 347.0276794433594px;
  transition: stroke-dashoffset 0.3s ease 0.6s, fill 1.5s ease 1.3s;
}

svg.active .svg-elem-6 {
  stroke-dashoffset: 694.0553588867188px;
}

svg .svg-elem-7 {
  stroke-dashoffset: 296.5435485839844px;
  stroke-dasharray: 296.5435485839844px;
  transition: stroke-dashoffset 0.3s ease 0.72s,
    fill 1.5s ease 1.4000000000000001s;
}

svg.active .svg-elem-7 {
  stroke-dashoffset: 593.0870971679688px;
}

svg .svg-elem-8 {
  stroke-dashoffset: 317.54058837890625px;
  stroke-dasharray: 317.54058837890625px;
  transition: stroke-dashoffset 0.3s ease 0.84s, fill 1.5s ease 1.5s;
}

svg.active .svg-elem-8 {
  stroke-dashoffset: 635.0811767578125px;
}

svg .svg-elem-9 {
  stroke-dashoffset: 296.54364013671875px;
  stroke-dasharray: 296.54364013671875px;
  transition: stroke-dashoffset 0.3s ease 0.96s, fill 1.5s ease 1.6s;
}

svg.active .svg-elem-9 {
  stroke-dashoffset: 593.0872802734375px;
}

svg .svg-elem-10 {
  stroke-dashoffset: 453.97576904296875px;
  stroke-dasharray: 453.97576904296875px;
  transition: stroke-dashoffset 0.3s ease 1.08s,
    fill 1.5s ease 1.7000000000000002s;
}

svg.active .svg-elem-10 {
  stroke-dashoffset: 907.9515380859375px;
}

svg .svg-elem-11 {
  stroke-dashoffset: 296.5437927246094px;
  stroke-dasharray: 296.5437927246094px;
  transition: stroke-dashoffset 0.3s ease 1.2s, fill 1.5s ease 1.8s;
}

svg.active .svg-elem-11 {
  stroke-dashoffset: 593.0875854492188px;
}

svg .svg-elem-12 {
  stroke-dashoffset: 389.39990234375px;
  stroke-dasharray: 389.39990234375px;
  transition: stroke-dashoffset 0.3s ease 1.3199999999999998s,
    fill 1.5s ease 1.9000000000000001s;
}

svg.active .svg-elem-12 {
  stroke-dashoffset: 778.7998046875px;
}

svg .svg-elem-13 {
  stroke-dashoffset: 296.5438232421875px;
  stroke-dasharray: 296.5438232421875px;
  transition: stroke-dashoffset 0.3s ease 1.44s, fill 1.5s ease 2s;
}

svg.active .svg-elem-13 {
  stroke-dashoffset: 593.087646484375px;
}

svg .svg-elem-14 {
  stroke-dashoffset: 200.6038360595703px;
  stroke-dasharray: 200.6038360595703px;
  transition: stroke-dashoffset 0.3s ease 1.56s, fill 1.5s ease 2.1s;
}

svg.active .svg-elem-14 {
  stroke-dashoffset: 401.2076721191406px;
}

svg .svg-elem-15 {
  stroke-dashoffset: 302.2989196777344px;
  stroke-dasharray: 302.2989196777344px;
  transition: stroke-dashoffset 0.3s ease 1.68s, fill 1.5s ease 2.2s;
}

svg.active .svg-elem-15 {
  stroke-dashoffset: 604.5978393554688px;
}

svg .svg-elem-16 {
  stroke-dashoffset: 240.12660217285156px;
  stroke-dasharray: 240.12660217285156px;
  transition: stroke-dashoffset 0.3s ease 1.7999999999999998s,
    fill 1.5s ease 2.3s;
}

svg.active .svg-elem-16 {
  stroke-dashoffset: 480.2532043457031px;
}

svg .svg-elem-17 {
  stroke-dashoffset: 266.5939636230469px;
  stroke-dasharray: 266.5939636230469px;
  transition: stroke-dashoffset 0.3s ease 1.92s,
    fill 1.5s ease 2.4000000000000004s;
}

svg.active .svg-elem-17 {
  stroke-dashoffset: 533.1879272460938px;
}

svg .svg-elem-18 {
  stroke-dashoffset: 70.4702377319336px;
  stroke-dasharray: 70.4702377319336px;
  transition: stroke-dashoffset 0.3s ease 2.04s, fill 1.5s ease 2.5s;
}

svg.active .svg-elem-18 {
  stroke-dashoffset: 140.9404754638672px;
}

.image {
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
}
