@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

body {
  background-image: linear-gradient(45deg, #654ea3, #da98b4);
  font-family: 'Noto Sans JP', sans-serif;
}
